* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, textarea {
    font-family: "Poppins", sans-serif; ;
}

header {
    background-color: rgb(0, 0, 0); 
    padding: 16px;
}

header h1 {
    color: #fff

}

header nav li,
section h3 {
    display: inline;
    font-family: "Poppins", sans-serif;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
    margin-left: 12px;
    margin-right: 32px;
    font-size: 16px;
}

.image-container {
    position: relative;
    width: 100%;
}

.image-container img {
    width: 100%;
    height: auto;
    filter: brightness(85%) contrast(100%) saturate(80%);

}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-100%, -130%);
    color: white; 
    font-size: 32px; 
    text-align: left;
}



footer {
    background-color: #343438;
    color:#fff;
    width: 100%;
    padding: 16px;
    font-family: "Poppins", sans-serif;
}

#contact .container {
    display: block;
    margin-right: 32px;
    margin-left: 32px;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px; 
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

.social-links li {
    list-style-type: none;
}

#contact {
    background-color: #343438;
}

form button {
    background-color: #777777;
    color: #ecf0f1;
    border: none;
    cursor: pointer
}

form button:hover {
    background-color: #a0a0a0;
}

input:focus, textarea:focus {
    outline-color: #fff;
}

section h2 {
    color: #ecf0f1;
}

#about h2 {
    color: black;
    display: block;
    margin: 32px;
}

.descrition {
    margin-left: 128px;
    margin-right: 128px;
}

#projects {
    background-color: #c4c4c4;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    height: 320px;
    margin: 32px;
}

.articles article {
    width: 30%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#projects h2{
    color:#555555;
    padding: 12px;
}
